* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html {
	font-size:100%;
	overflow-y:scroll;
	overflow-x:hidden;
}
body,div,pre,form,fieldset,input,textarea,blockquote,th,td {  
	margin:0; 
	padding:0; 
}
body {
	font-family:Verdana, sans-serif;
	font-size:62.5%; /*Base unit of 10px*/
}
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
	border-collapse:collapse; 
	border-spacing:0; 
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a img {
	border:0; 
}
dl,ol,ul {
	margin:1em 0;
	padding:0 0 0 2em;
}
h1,h2,h3,h4,h5,h6 {
	margin:.666em 0;
	line-height:1.08em;
}
p {
	margin:1em 0;
	line-height:1.666em;
}
/* Tree diagram styles */
.tree ul {
	padding: 20px 0 0;
	position: relative;
	margin:0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.tree li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
/*We will use ::before and ::after to draw the connectors*/
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}
.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
/*We need to remove left-right connectors from elements without any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
/*Remove space from the top of single children*/
.tree li:only-child {
	padding-top: 0;
}
/*Remove left connector from first child and right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}
.tree li a {
	border: 1px solid #ccc;
	background:rgba(144,247,36,.8);
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
/*Time for some hover effects*/
.tree li a:hover, .tree li a:hover+ul li a {
	background:rgba(144,247,36,1);
	color: #000;
	border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,  .tree li a:hover+ul li::before,  .tree li a:hover+ul::before,  .tree li a:hover+ul ul::before {
	border-color:  #94a0b4;
}
/* Horizontal Tree diagram styles */
.horizontal-tree ul {
	padding:0 0 0 20px;
	position: relative;
	margin:0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.horizontal-tree li {
	display:table;
	padding:5px 0 5px 20px;
	position:relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
/*We will use ::before and ::after to draw the connectors*/
.horizontal-tree li::before, .horizontal-tree li::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-left: 1px solid #ccc;
	height: 50%;
	width: 20px;
}
.horizontal-tree li::after {
	top: 50%;
	border-top: 1px solid #ccc;
}
/*We need to remove left-right connectors from elements without any siblings*/
.horizontal-tree li:only-child::after, .horizontal-tree li:only-child::before {
	display: none;
}
/*Remove space from the top of single children*/
.horizontal-tree li:only-child {
	padding-left: 0;
}
/*Remove left connector from first child and right connector from last child*/
.horizontal-tree li:first-child::before, .horizontal-tree li:last-child::after {
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.horizontal-tree li:last-child::before {
	border-bottom: 1px solid #ccc;
	border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
}
.horizontal-tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
.horizontal-tree ul ul::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	border-bottom: 1px solid #ccc;
	width: 20px;
	height: 0;
}
.horizontal-tree li a {
	display:block;
	border: 1px solid #ccc;
	background:rgba(144,247,36,.8);
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	text-align:center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.horizontal-tree li div {
	display: table-cell;
	position:relative;
	vertical-align:middle;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.horizontal-tree li div.offshoot a {
	margin-top:72px;
}
.horizontal-tree li div.offshoot a::before, .horizontal-tree li div.offshoot a::after {
	content: '';
	position: absolute;
	top:50%;
	left:0;
	border-top:1px solid #ccc;
	width:50%;
	height:20px;
}
.horizontal-tree li div.offshoot a::after {
	left:50%;
	border-left: 1px solid #ccc;
}
.horizontal-tree li div a + a {
	margin-top:20px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.horizontal-tree li div a + a::before, .horizontal-tree li div a + a::after {
	content: '';
	position: absolute;
	top:50%;
	left:0;
	margin-top:-10px;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	width:50%;
	height:10px;
}
.horizontal-tree li div a + a::after {
	left:50%;
	margin:0;
	border:0;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.horizontal-tree li a:hover, .horizontal-tree li a:hover+ul li a {
	background:rgba(144,247,36,1);
	color: #000;
	border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.horizontal-tree li a:hover+ul li::after,  .horizontal-tree li a:hover+ul li::before,  .horizontal-tree li a:hover+ul::before,  .horizontal-tree li a:hover+ul ul::before {
	border-color:  #94a0b4;
}

/* COLOURS! */
/* ul { background-color:rgba(0,0,0,0.05); } */
